@import "./_variables.scss";
@import "./fonts";

body {
    background: $white-color;
    color: $primary-color;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: Lato-Regular;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: Montserrat-Medium;
}

h2 {
    @media (min-width: 1200px) {
        font-size: 2.5rem;
    }
}

h3,
h4 {
    font-size: 1.2rem;
}

ul,
ol {
    margin-bottom: 0;
    padding-left: 0;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color .35s linear;

    &:hover {
        color: $accent-color;
    }
}

.heading__subtitle {
    font-family: DancingScript-SemiBold;
    font-size: 1.75rem;
    text-transform: capitalize;
    color: $accent-color;
}

.heading-underline {
    text-align: center;
    margin-bottom: 4rem;

    &:after {
        content: '';
        position: relative;
        top: 1.5rem;
        display: block;
        margin-inline: auto;
        background-color: $accent-color;
        width: 5rem;
        height: 3px;
    }
}

.section {
    padding-block: 5rem;

    &__aside {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>*+* {
            margin-top: 1.5rem;
        }
    }
}

.btn {
    padding: .35rem 1.25rem;
    transition: all .35s linear;

    &--primary {
        background-color: #b4c3cb;
        border: 1px solid #879fab;

        &:hover {
            background-color: $white-color;
            border: 1px solid #879fab;
            color: $primary-color;
        }
    }
}